body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: #ddd;
}

header {
    background: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    margin: 15px;
}

article {
    border-bottom: 1px solid #444;
    padding: 15px;
    margin-bottom: 15px;
}

article h2 {
    color: #eee;
}

article p {
    font-size: 16px;
    line-height: 1.6em;
}

footer {
    text-align: center;
    padding: 30px 20px;
    background: #1a1a1a;
    color: #fff;
}
